brokerClusterName=DefaultCluster
brokerName=eventbus-broker-a
brokerId=0

brokerIP1=__ADVERTISED_HOST__
namesrvAddr=nameserver:9876
listenPort=10911

brokerRole=ASYNC_MASTER
flushDiskType=ASYNC_FLUSH
deleteWhen=04
fileReservedTime=24

defaultTopicQueueNums=3
autoCreateTopicEnable=false
autoCreateSubscriptionGroup=true
enablePropertyFilter=true
